﻿
<form action="/home/CalculateOhm" method="post" class="ajax-form">
    <h3 class="inputHL">5 strip Resistor</h3>
    <div class="row visible-lg">
        <div class="col-sm-12">
            <div class="col-sm-1 col-lg-3"><span class="bold-header">1st Digit</span></div>
            <div class="col-sm-1 col-lg-3"><span class="bold-header">2nd Digit</span></div>
            <div class="col-sm-1 col-lg-3"><span class="bold-header">3rd Digit</span></div>
            <div class="col-sm-1 col-lg-3"><span class="bold-header">Multiplier</span></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    @{Html.RenderPartial("FirstDigit", "b5d1");}
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    @{Html.RenderPartial("SecondThirdDigit", "b5d2");}
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    @{Html.RenderPartial("SecondThirdDigit", "b5d3");}
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="form-group">
                    @{Html.RenderPartial("Multiplier", "b5d4");}
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row visible-lg">
        <div class="col-sm-12">
            <div class="col-sm-1 col-lg-3">
                <input type="submit" value="CalculateOhm" />
            </div>
        </div>
    </div>
</form>
