﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container-fluid">

    <ul class="nav nav-tabs toolfont" role="tablist" id="list">
        <li class="active"><a href="#Band4" role="tab" data-toggle="tab" aria-expanded="true" class="BandTab" data-band="Band4">4-strip</a></li>
        <li class=""><a href="#Band5" role="tab" data-toggle="tab" aria-expanded="false" class="BandTab" data-band="Band5">5-strip</a></li>
        <li class=""><a href="#Band6" role="tab" data-toggle="tab" aria-expanded="false" class="BandTab" data-band="Band6">6-strip</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="Band4">
            @{Html.RenderPartial("Band4");}
        </div>
        <div class="tab-pane fade" id="Band5">
            @{Html.RenderPartial("Band5");}
        </div>
        <div class="tab-pane fade" id="Band6">
            @{Html.RenderPartial("Band6");}
        </div>
    </div>
    <br />
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="col-sm-2 col-xs-12">
                <div class="form-group text-left">
                    <label>Resistance:</label>
                </div>
            </div>
            <div class="col-sm-4 col-xs-8">
                <div id="tool_output_container" class="form-group">
                </div>
            </div>
            <div class="col-sm-4 col-xs-4">
                <div class="form-group text-left">ohms</div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div id="errors"></div>
    </div>
</div>