﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.preloader {
    z-index: 1001;
    text-indent: -2000em;
    text-indent: 0;
    font-size: 0;
    line-height: 2000px;
}

.preloader {
    width: 18px;
    height: 18px;
    background: transparent url('../Images/ajax-loader.gif') no-repeat 2px 2px;
}

